extends ../layout

block content
    h1.
         #{title}
    ul
        - each user in users
            li
                = user.name
                = user.age
                = user.email
                = user._id
                form(action='/users/#{user._id}/edit?_method=DELETE',method='post',enctype='application/x-www-form-urlencoded')
                    button(type='submit').
                        Delete
                p 
                    a(href='/users/#{user._id}/edit') Edit
                p
                    a(href='/users/#{user._id}') Show
