extends ../layout

block content
    h1.
        #{title}
    form#formAddUser(name="addUser",method="post",action="/users")
        p Name: 
            input#inputName(type="text", placeholder="ex. Jerome Strikesagain", name="name")
        p Age: 
            input#inputAge(type="number", name="age")
        p Email: 
            input#inputEmail(type="text", name="Email")
        p
            button#btnSubmit(type="submit") submit
